name = "blackroad-api"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[vars]
ENVIRONMENT = "production"

# KV Namespaces for persistent storage
[[kv_namespaces]]
binding = "AGENCY"
id = "21cbbabc19eb443aa2bee83ce0f0e96f"

[[kv_namespaces]]
binding = "AGENTS"
id = "0f1302ff7d4c48dbb54148b822709193"

[[kv_namespaces]]
binding = "LEDGER"
id = "47f5329a68434bd481fa9b159bbd89fd"

[[kv_namespaces]]
binding = "ORGS"
id = "5bffa54816fa45099b712f43395e702b"

[[kv_namespaces]]
binding = "INTENTS"
id = "cec61e8e984a4a49979c0f29c1c65337"

[[kv_namespaces]]
binding = "POLICIES"
id = "c423c6c249c34311be4d4d9c170d9b28"

[[kv_namespaces]]
binding = "CLAIMS"
id = "ac869d3a3ae54cd4a4956df1ef9564b0"

[[kv_namespaces]]
binding = "DELEGATIONS"
id = "a6a243568d7f461e8c88f8024611a3a1"

# Custom domain
routes = [
  { pattern = "api.blackroad.io", custom_domain = true }
]
